* {
    box-sizing: border-box;
  }
  
h1
{
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.navbar-brand {
    width: 40%;
}

.logo 
{
    width: 90%;
    margin-left: 5%;
}

.navbar-nav 
{
    width: 100%;
    justify-content: flex-end;
}

.navbar-toggler
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 5%;
}

.navbar-toggler-icon 
{
    width: 40px;
    height: 4px;
    border-radius: 34px;
    background: red;
    margin-bottom: 5px;
}

.btn-outline-danger
{
  border-radius: 25px;
  padding: 2px;
}

.nav-link 
{
    margin-right: 5%;
    width: 100%;
    color: #dc3545;
    cursor: pointer;
    font-weight: bold;
}

.nav-link:hover{
  color: white;
  font-weight: bold;
}

.nav-item
{
    margin-right: 5%;
}

.dropdown 
{
  display: none;
}

#dropdown
{
  background-color: #ffdde3;
  margin-left: 5%;
}

.visible 
{
  display: inline-block;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  margin-bottom: 5%;
}

.visible .dropdown-link
{
  font-size: 0.85em;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: bold;
}

::placeholder {

  padding-left: 2%;
  font-size: 0.85em
}

.button:focus
{
  border-color: #9ea3aa;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #9ea3aa;
}

.navbar-toggler:focus
{
  box-shadow: 0 0 0 0.1rem red;
}
 
  /* MISE EN FORME DU FORMULAIRE DE CONNEXION */
  
  .row-sign-in 
  {
    display: flex;
    justify-content: center;
  }
  .disabled
  {
    background: rgb(255, 215, 215);
    color: red;
    font-weight: bold;
  }

  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #9ea3aa;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #9ea3aa;

  }
  
  
 
  
 